django==5.2
djangorestframework==3.16.1
django-redis==6.0.0
django-environ==0.9.0
pillow==12.1.0
django-ckeditor-5==0.2.19

gunicorn==22.0.0
uvicorn==0.40.0

channels==4.1.0
channels-redis==4.2.0

whitenoise==6.11.0

psycopg2==2.9.11